
/*Movies*/
#movies img, #movie img{
    width: 100%;

}


#movies .col-md-3 .well {
    /*Gives space between poster and details button*/
    display: inline;

    padding-top: 30px;
    padding-bottom: 50px;

}

#movies .col-md-3 img {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    /*Forced height and wdith for all posters*/
    height: 459px; !important;
    width: 306px; !important;

}

/*Shows*/
#shows img, #show img{
    width: 100%;

}


#shows .col-md-3 .well {
    /*Gives space between poster and details button*/
    display: inline;

    height: 500px;
    padding-top: 30px;
    padding-bottom: 50px;

}

#shows .col-md-3 img {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    /*Forced height and wdith for all posters*/
    height: 459px; !important;
    width: 306px; !important;
}

/*Actors*/
#actors img, #actor img{
    width: 100%;

}


#actors .col-md-3 .well {
    /*Gives space between poster and details button*/
    display: inline;

    height: 500px;

    padding-top: 30px;
    padding-bottom: 50px;

}

#actors .col-md-3 img {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    /*Forced height and wdith for all posters*/
    height: 459px; !important;
    width: 306px; !important;
}

/*Index Movies*/
#indexmovies img, #movie img{
    width: 100%;

}


#indexmovies .col-md-3 .well {
    /*Gives space between poster and details button*/
    display: inline;

    padding-top: 30px;
    padding-bottom: 50px;

}

#indexmovies .col-md-3 img {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    /*Forced height and wdith for all posters*/
    height: 459px; !important;
    width: 306px; !important;

}

/*Index Shows*/
#indexshows img, #movie img{
    width: 100%;

}


#indexshows .col-md-3 .well {
    /*Gives space between poster and details button*/
    display: inline;

    padding-top: 30px;
    padding-bottom: 50px;

}

#indexshows .col-md-3 img {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    /*Forced height and wdith for all posters*/
    height: 459px; !important;
    width: 306px; !important;

}







body {
    background-color: fffff;
}





.buttons a{
    margin-top: 40px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 70px 0 rgba(0, 0, 0, 0.19);

}

.movietitle {
    font-size: 35px;
    font-weight: 500;
    padding-bottom: 15px;
}



/* Nav Bar */

.logo {
    font-size: 25px;
    padding-right: 70px;
    margin-left: 30px;
}



.navbar {
    margin-bottom: 20px;
}

.navbar-header{
    display: inline;
}

.search {
    width: 1000px;
    margin-top: 20px;
}

.searchbutton {
    margin-top: 20px;
    border-radius: 10px;
}

.nav-item a{
    font-size: 18px;
    text-align: center;

}






/*Main Movie Page*/
.title {
    padding-top: 20px;
    text-align: center;
}

.col-md-3 {
    padding-bottom: 50px;
    text-align: center;
}

.searchbox{
    width: 800px;
    align-self: center;
    text-align: center;
}

.col-md-4 {
    -ms-flex:0 0 auto;
    flex:0 0 auto;
    width:25%;

}

.title {
    padding-bottom: 30px;
    padding-top: 50px;
}

.poster {
    height: 459px; !important;
    width: 306px; !important;
}


/*Movie Info*/
.container {
    padding-top: 20px;
    padding-bottom: -20px;
}

.thumbnail {
    height: 525px;
    width: 350px;
}

.plot {
    padding-left: 5px;
    padding-top: 200px;
    display: block;
}

.biography {
    padding-left: 5px;
    padding-top: 40px;
    display: block;
}

.trailer {
    display: block;
    float: right;
}

.list {
    width: 400px;
    display: block;
    float: left;

}

.video {
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1), 0 1px 1px 0 rgba(0, 0, 0, 0.3);
}


/*Search Pages*/
.poster{
    display: block;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.6);
}

.text {
    padding-top: 20px;
    padding-bottom: 5px;
    font-size: 18px;

    /*Makes details box level*/
    height: 90px;

    /*Centering text*/
    display : flex;
    align-items : center;
    justify-content: center;

}





.button {
   margin-bottom: 40px;
}

